body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 44px;
    line-height: 1.2em;
}
.orange-text{
    color: orange;
}

.flexible-container{
    display: flex;
    padding: 50px 20px;
}

.hero{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width{
    width: 50%;
}

.half-width img{
    width: 80%;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: #F36958;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 500px;
    color: white;
}

.experience-item{
    width: 45%;
    margin: 0% 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px #00000050;
    border-radius: 10px;
}

#special-border{
    border-left: 10px solid;
    border-image: linear-gradient(orange, tomato );
    border-image-slice: 1;
}

.footer{
    padding: 10px 20px;
    background-color:black;
}

.footer p{
    color: #e1e1e1;
    text-align: center;
    font-weight: 200;
}